doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='format-detection' content='telephone=no')
  meta(name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;')
  meta(http-equiv='X-UA-Compatible' content='IE=9; IE=8; IE=7; IE=EDGE')
  title Welcome to SaaSMVP.
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap' rel='stylesheet')
  style.
    @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,100%,700&display=swap");
    @media only screen and (max-width:600px) {
    td[class=head-title] {
    font-size: 24px !important;
    padding-bottom: 10px !important;
    line-height: 32px !important;
    }
    div[class=mb_View] {
    width: 96% !important;
    padding-left: 2%;
    padding-right: 2%;
    }
    }
    @media only screen and (max-width:480px) {
    td[class=head-title] {
    font-size: 18px !important;
    }
    img[class=logo_img] {
    width: 200px !important;
    }
    }
table(align='center' cellpadding='0' cellspacing='0' border='0' style='margin-top: 21px; margin-bottom: 20px;')
  tr
    td
      .mb_View(style='background-color: #f4f4f4 !important; max-width:600px; margin: 0 auto;')
        table(width='100%' align='center' cellpadding='0' cellspacing='0' border='0')
          tr
            td
              table(width='100%' cellpadding='0' cellspacing='0')
                tr
                  td.logo_block(bgcolor='' style='padding-top:25px; padding-bottom:25px; text-align: center; background-color: #ffffff;')
                    a(href='#m_-1778674465433749821_m_-1945850375391101209_m_-6818727870886611857_' target='_blank')
                      img.logo_img(src='https://subscription-stage-media.s3.us-west-2.amazonaws.com/uploads/user/9534/localhost_1600675309172.png' width='193px' alt='Logo')
          tr
            td
              table(width='100%' cellpadding='0' cellspacing='0' align='center' bgcolor='#fff')
                tr
                  td(style='padding-left:20px; padding-right:20px; padding-top:30px; padding-bottom:5px; border-radius: 5px 5px 0 0;' bgcolor='#FFFFFF')
                    table(width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
                      tbody
                        tr
                          td
                            table(width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
                              tbody
                                tr
                                  td(style="padding-top:1px; padding-bottom:7px; font-family: 'Montserrat', sans-serif !important; color:#000000; font-size:15px; line-height:24px; font-weight: 600; text-transform: capitalize;")
                                    | Hello #{name}
                                tr
                                  td.para1(style="font-family: 'Montserrat', sans-serif !important; font-size:14px; padding-top:10px;  color:#000000; line-height:24px; padding-bottom:30px;")
                                    | Someone has requested a link to change your password. If you didn't request this, please ignore this email.
                                tr
                                  td(style='padding-bottom: 20px;')
                                    table(cellspacing='0' cellpadding='0' align='center')
                                      tbody
                                        tr
                                          td(valign='middle')
                                            a(href=link style="padding-left: 15px; padding-right: 15px; text-align: center;width: 164px;height: 45px;background-color: #c74c1f;border: 1px solid #c74c1f;border-radius: 4px;display: block;font-family: 'Montserrat', sans-serif !important;border-radius: 4px;font-size: 14px;line-height: 45px;color: #fff;text-decoration: none;font-weight: 500;")
                                              span Change my password
                                tr
                                  td.para1(style="font-family: 'Montserrat', sans-serif !important; font-size:14px; padding-top:10px;  color:#000000; line-height:24px; padding-bottom:30px;")
                                    | Your password won't change until you access the link above and create a new one.
                                tr
                                  td(style="padding-top:0; padding-bottom:0; font-family: 'Montserrat', sans-serif !important; color:#000000; font-size:14px; line-height:24px; font-weight: 600;") Regards,
                                tr
                                  td(style="padding-top:0; padding-bottom:0; font-family: 'Montserrat', sans-serif !important; color:#000000; font-size:14px; line-height:24px;") SaaSMVP
                tr
                  td(style='padding-top:10px; padding-bottom:10px;')
                    .cstm-seprator(style='margin: 5px 0; border-bottom: 1px solid #E7E7E7;')
                tr
                  td(style="padding-top:10px; padding-bottom:5px; color:#000000; font-size:20px; text-align:center; font-family: 'Montserrat', sans-serif !important;")
                    img(border='0' style='width:190px;' src='https://partnerhere-assets.s3-us-west-2.amazonaws.com/need-help.png' alt='Need some help')
                tr
                  td(style="padding-top:10px; padding-bottom:25px; font-family:'Montserrat', sans-serif !important; text-align:center; color:#000000; font-size:15px; line-height:24px;")
                    | Our team is here for you and ready to answer any questions you may have.
              table(width='100%' bgcolor='#fff' style='padding-bottom: 10px;')
                tbody
                  tr
                    td.cstm-phone-decrease-w(width='' style='text-align:center;')
                    td.cstm-phone-increase-w(width='24%' style='text-align:center;')
                      a(style='text-decoration:none;' href='#')
                        img(width='50' height='50' border='0' style='text-align:center width:auto;' src='https://partnerhere-assets.s3-us-west-2.amazonaws.com/faq.png' alt='FAQs')
                        p(style="margin-top:4px; font-family: 'Montserrat', sans-serif !important; color:#000000; line-height:24px; font-size:14px;")
                          | FAQs
                    td.cstm-phone-increase-w(width='24%' style='text-align:center;')
                      a(style='text-decoration:none;' href='#')
                        img(width='50' height='50' border='0' style='text-align:center width:auto;' src='https://partnerhere-assets.s3-us-west-2.amazonaws.com/mail.png' alt='Email')
                        p(style="margin-top:4px; font-family: 'Montserrat', sans-serif !important; color:#000000; line-height:24px; font-size:14px;")
                          | Email us
                    td.cstm-phone-decrease-w(width='' style='text-align:center; padding-bottom:20px;')
          tr
            td(bgcolor='#141414' style='padding-left:11px; padding-right:10px; padding-top:15px; padding-bottom:15px; border-radius: 0 0 5px 5px;')
              table(width='100%' border='0' cellspacing='0' cellpadding='0')
                tbody
                  tr
                    td(style="text-align:center; font-size:13px; font-family: 'Montserrat', sans-serif !important; color:#fff; line-height:23px; font-weight: 500;")  &copy; 2020 SaaSMVP. all rights reserved. 
